body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: firebrick;
    color: white;
    margin: 20px, 10px, 0px, 10px;
}

img {
    height: 140px;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

.gallery {
    background-color: lightgray;
    padding: 25px;
}
